body{
  background-color: antiquewhite;
}
p{
  color:rgb(181, 167, 151);
}

@media screen and (max-width: 900px) {
  body {
    background-color: rgb(82, 93, 51);
  }
  p {
    color: rgb(172, 172, 119);
  }
  #aBtn{
    width:100%;
  }
}